:root {
  --white-color: #FFFFFF;
  --light-gray-color: #C4C4C4;
  --gray-color: #818181;
  --dark-gray-color: #333333;
  --ice-color: #EBF6FF;
  --light-blue-color: #008DFE; 
  --blue-color: #2B66FA;
  --abyss-blue-color: #1D2647;
  --dark-blue-color: #0A0043; 
  --black-color: #000000;
  --red-color: #FF0000;
}